/*small desktop*/
@media only screen and(max-width:1040px)
{
    h1{
        font-size: 2rem;
    }
    section{
        padding: 2.5% 4.5%;
    }
}

/*tablets ipad pro*/
@media only screen and(max-width:1024px)
{
    h1{
        font-size: 1rem;
    }
    section{
        padding: 2.5% 4.5%;
    }
}

/* mobile */
@media only screen and(max-width:330px)
{
    h1{
        font-size: 0.5rem;
    }
    section{
        padding: 1.5% 2.5%;
    }
    h2{
        font-size: 0.5rem;
    }
}